section { 
  margin: 20px 0;
  display: flex;
  align-items: center;
}

section > * {
  margin: 0 20px;
}

code {
  font-size: 15px;
}

p {
  max-width: 800px !important;
}

a {
  color: #7D4CDB;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  padding: 0.2rem;
}